// ------------------------------------------
// conf
// ------------------------------------------

// 配置项：引入的component
$conf-layout: 		true; //布局
$conf-grid: 		true; //栅格
$conf-button: 		true; //按钮
$conf-icon: 	    true; //字体图标
$conf-tab:			true; //tab切换
$conf-input:		true; //输入框
$conf-radio:		true; //单选框
$conf-checkbox:		true; //多选框
$conf-crumb:		true; //面包屑
$conf-datepicker:	true; //日期选择器
$conf-modal:	    true; //弹窗
$conf-title:		true; //标题栏
$conf-dropdown:		true; //下拉菜单
$conf-select:		true; //选择器
$conf-form:			true; //表单
$conf-pop:			true; //弹窗
$conf-link:			true; //链接
$conf-toast:		true; //toast
$conf-para:			true; //段落
$conf-header:		true; //头部
$conf-footer:		true; //底部
$conf-placeholder:	true; //占位图
$conf-nav:			true; //导航
$conf-list:			true; //列表
$conf-page:			true; //分页
$conf-search:		true; //搜索
$conf-star:			true; //星级评分
$conf-backtop:		true; //返回顶部
$conf-carousel:		true; //走马灯
$conf-largeview:	true; //查看大图

