// ------------------------------------------
// layout
// ------------------------------------------


@mixin import-ui-layout {

//--------------------- 定义 ---------------------//

//定义layout相关变量
$layout-cls: 			#{$conf-nsp-ele}layout; //通用类名

//--------------------- 通用样式（固定样式） ---------------------//
.#{$layout-cls} {
	height: 100%;

	//滚动，可用于任何layout__xxx
	&__scroll {
		height: 100%;
		overflow-y: auto !important;
	}

	//头部
	&__header {
		height: $header-h;
		&--fix { //固定头部
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
		}
	}

	//底部
	&__footer {
		height: $footer-h;
		&--fix { //固定底部
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
		}
	}
	&__body {

	}

	//居中容器
	&__wrapper {
		width: $wrapper-w;
		margin: 0 auto;
	}

	//侧栏
	&__sider {
		position: absolute; //默认在左侧
		left: 0;
		top: 0;
		bottom: 0;
		width: $side-w;
		overflow: auto;
		&--fix { //固定侧栏
			position: fixed;
			left: 50%;
			top: $header-h; ////////////////////////
			margin-left: -($wrapper-w / 2);
			overflow: auto;
			z-index: $zindex-fix;
			@include breakpoint(max-width $screen-l) { //屏幕过窄时不固定
				position: absolute;
				left: 0;
				margin-left: 0;
			}
		}
		&--right { //右侧
			left: auto !important;
			right: 0;
			&.#{$layout-cls}__sider--fix {
				right: 50%;
				margin-left: 0;
				margin-right: -($wrapper-w / 2);
				@include breakpoint(max-width $screen-l) { //屏幕过窄时不固定
					position: absolute;
					right: 0;
					margin-right: 0;
				}
			}
		}
	}
	// 与侧栏配合使用
	&__content {
		
	}

	//固定
	&__fix {
		&--top {	//固定头部
			position: relative;
			padding-top: $header-h;
			// .#{$layout-cls}__body {
			// 	height: 100%;
			// }
			// .ui-layout__body {
			// 	height: 100%;
			// 	overflow: auto;
			// }
		}
		&--bottom { //固定底部
			position: relative;
			padding-bottom: $footer-h;
			// .ui-layout__body {
			// 	height: 100%;
			// 	overflow: auto;
			// }
		}
		&--left { //固定侧栏（左）
			position: relative;
			padding-left: $side-w;
			height: 100%;
		}
		&--right { //固定侧栏（右）
			position: relative;
			padding-right: $side-w;
			height: 100%;
		}
	}

	// 固定悬浮在居中内容右下角外侧的容器
	&__floatbar {
		position: fixed;
		left: 50%;
		bottom: rem(200); ///////////////
		width: rem(100); ///////////////
		margin-left: ($wrapper-w / 2); ///////////////
	}
}

}