// ------------------------------------------
// theme
// ------------------------------------------


//--------------------- color ---------------------//

// color
$org:                   #ddd;
$green:                 #ddd;
$yellow:                #ddd;
$red:                   #ddd;
$blue:                  #ddd;
$purple:                #ddd;
$pink:                  #ddd;

// main color
$main:                  $green;
$main-d:                hsla(205,0,56,1);
$main-dr:               hsla(205,0,56,1);
$main-l:                hsla(205,0,56,1);
$main-lr:               hsla(205,0,56,1);

// sub color
$sub: 					$green;
$sub-d: 				hsla(205,0,56,1);
$sub-dr: 			    hsla(205,0,56,1);
$sub-l: 			    hsla(205,0,56,1);
$sub-lr: 			    hsla(205,0,56,1);

// border
$border-l: 	            #eee;
$border: 				#ddd;
$border-d: 		        #ccc;

// background-color
$bg-l: 	                #ddd;
$bg: 			        #ddd;
$bg-d: 	                #ddd;

// disabled color
$disabled-color:         #f7f7f7;
$disabled-bg:            #ddd;
$disabled-border:        #ddd;


//--------------------- font ---------------------//

//color
$color:                 #666;
$color-d: 			    #333;
$color-l: 		        #999;

//font-size
$fz-s:                  rem(12);
$fz:                    rem(14);
$fz-l:                  rem(16);
$fz-xl:                 rem(18);
$fz-xxl:                rem(20);
$fz-xxxl:               rem(24);

//line-height
$lh:                    1.5;

//--------------------- radius ---------------------//

$radius-s:              rem(2);
$radius:                rem(3);
$radius-l:              rem(6);


//--------------------- z-index ---------------------//

$zindex-below:          -1;
$zindex-default:        1;
$zindex-fix:            50;		//fixed topbar,backtotop
$zindex-dd:             70;		//dropdown
$zindex-modal:          100;	//pop    
$zindex-up:             3;
$zindex-down:           2;


//--------------------- animation ---------------------//

$dur-s:                 0.3s;
$dur:                   0.5s;
$dur-l:                 1s;
$dur-h:                 2s;


//--------------------- width and height ---------------------//

$header-h:              rem(0);      // header height  
$nav-h:                 rem(0);      // mainnav height  
$footer-h:              rem(0);      // footer height 
$wrapper-w:				rem(1200);      // 正文 width
$min-w:				    rem(0);      // 正文 width,1024还需加上滚动条宽度
$side-w:				rem(0);      // 侧栏 width
$padding:  				rem(0);
$com-height:            rem(30);     // 标准高度
$com-height-l:          rem(36);
$com-height-s:          rem(20);


//--------------------- media ---------------------//
$screen-xs:             rem(480);
$screen-sm:             rem(768);
$screen-md:             rem(992);
$screen-lg:             rem(1200);
// $mq-s:                  max-width $min-w;
// $mq-n:                  1024px 1200px;
// $mq-l:                  1000px;
// $mq-h:                  1600px;
// media query
// @example:
// 示例scss:
//   .foo{
//     width: 500px;
//     @include breakpoint($mq-n){
//       width: 200px;
//     }
//   }