@@include('_include/_meta.html')	
    <title>项目组件demo</title>
</head>

<body class="demo-content">
	<!-- 介绍 -->
	<section class="demo-content__header">
		<div class="demo-content__subject">
			@@include('../../common/_components/_crumb/doc/intro.html')
		</div>
	</section>
	<!-- /介绍 -->

	<!-- 预览演示 -->
	<section class="demo-content__body">

        <!-- 分类 -->
		<div class="demo-content__mdbox">
			<!--title-->
			<div class="demo-content__leveltitle">
				@@include('../../common/_components/_crumb/doc/basic.html')
			</div>
			<!--/title-->
			
			<!--预览、代码-->
			<div class="demo-grid__row">
				<div class="demo-grid__col-s-24 demo-grid__col-m-12">
					@@include('../../common/_components/_crumb/_basic.html')
				</div>
				<div class="demo__codebox demo-grid__col-s-24 demo-grid__col-m-12">
					<pre>
						<code class="html">	
@@include('../../common/_components/_crumb/_basic.html')
						</code>
					</pre>
					<p class="demo__codetrl">
						<a class="demo__showcode">查看代码</a>
					</p>
				</div>
			</div>
			<!--/预览、代码-->
		</div>
    	<!-- 分类 -->
	  
		<!-- 分类 -->
		<div class="demo-content__mdbox">
			<!--title-->
			<div class="demo-content__leveltitle">
				@@include('../../common/_components/_crumb/doc/icon.html')
			</div>
			<!--/title-->
			
			<!--预览、代码-->
			<div class="demo-grid__row">
				<div class="demo-grid__col-s-24 demo-grid__col-m-12">
					@@include('../../common/_components/_crumb/_icon.html')
				</div>
				<div class="demo__codebox demo-grid__col-s-24 demo-grid__col-m-12">
					<pre>
						<code class="html">	
@@include('../../common/_components/_crumb/_icon.html')
						</code>
					</pre>
					<p class="demo__codetrl">
						<a class="demo__showcode">查看代码</a>
					</p>
				</div>
			</div>
			<!--/预览、代码-->
		</div>
		<!-- 分类 -->

	</section>
	<!-- /预览演示 -->

	<!-- api -->
	<section class="demo__markdown">
		@@include('../../common/_components/_crumb/doc/api.html')
	</section>
	<!-- /api -->


@@include('_include/_script.html')	
</body>
</html>
