@@include('_include/_meta.html')	
    <title>项目组件demo</title>
</head>

<body class="demo-content">
	<!-- 介绍 -->
	<section class="demo-content__header">
		<h3 class="demo-content__title">layout 布局</h3>
	</section>
	<!-- /介绍 -->

	<!-- 预览演示 -->
	<section class="demo-content__body">

        <!-- 类型 -->
		<div class="demo-content__mdbox">
			<!--title-->
			<p class="demo-content__subtitle">类型1</p>
			<p class="demo-content__subintro">类型1说明</p>
			<!--/title-->
			
			<!--预览、代码-->
			<div class="demo-grid__row">
				<div class="demo-grid__col-s-24 demo-grid__col-m-12">
					@@include('../../common/_components/_layout/_layout.html')
				</div>
				<div class="demo__codebox demo-grid__col-s-24 demo-grid__col-m-12">
					<pre>
						<code class="html">	
@@include('../../common/_components/_layout/_layout.html')
						</code>
					</pre>
					<p class="demo__codetrl">
						<a class="demo__showcode">查看代码</a>
					</p>
				</div>
			</div>
			<!--/预览、代码-->
		</div>
        <!-- 类型 -->
      

	</section>
	<!-- /预览演示 -->

	<!-- api -->
	<section class="demo__markdown">
	</section>
	<!-- /api -->


@@include('_include/_script.html')	
</body>
</html>
