// ------------------------------------------
// iconfont
// ------------------------------------------

//定义icon相关变量
$icon-cls:					#{$conf-nsp-ele}icon; //base64图标通用类名
$icon-font-cls:				#{$conf-nsp-ele}icon-font; //字体图标通用类名

// 基础样式
$icon-url:					#{$conf-imgurl}/_base64; //图片路径，在conf中配置的变量
$icon-size:					unit(30); //默认尺寸
$icon-large-size:			unit(40); //大尺寸
$icon-small-size:			unit(20); //小尺寸

@mixin import-ui-icon {

//--------------------- 定义 ---------------------//
@font-face {font-family: "iconfont";
	src: url('fonts/iconfont.eot?t=1504010828646'); /* IE9*/
	src: url('fonts/iconfont.eot?t=1504010828646#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/iconfont.woff?t=1504010828646') format('woff'), /* chrome, firefox */
	url('fonts/iconfont.ttf?t=1504010828646') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('fonts/iconfont.svg?t=1504010828646#iconfont') format('svg'); /* iOS 4.1- */
}

%iconfont {
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0px;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

//--------------------- 通用样式（固定样式） ---------------------//
//字体图标
.#{$icon-font-cls},
%#{$icon-font-cls} {
	display: inline-block;
	vertical-align: baseline;
	width: $icon-size;
	height: $icon-size;
	@extend %iconfont;
	width: $icon-size;
	height: $icon-size;
	font-size: $icon-size;

	//尺寸
	&--large {
		width: $icon-large-size;
		height: $icon-large-size;
		font-size: $icon-large-size;
	}
	&--small {
		width: $icon-small-size;
		height: $icon-small-size;
		font-size: $icon-small-size;
	}

	// 支持的图标列表
	&--left:before { content: "\e654"; }
	&--right:before { content: "\e654"; }
}

//base64图标
.#{$icon-cls},
%#{$icon-cls} {
	display: inline-block;
	vertical-align: middle;
	background-size: 100% auto;

	// 支持的图标列表
	&--exit {
		width: unit(20); //////////////////
		height: unit(20); //////////////////
		background: url(#{$icon-url}/header-exit.png) no-repeat center center;
		
	}
}

}