@charset "UTF-8";
@import "../../ceci.css/_base/_conf";
@import '../../ceci.css/_base/_mixin';
@import '../../ceci.css/_theme/_define';
@import '../../ceci.css/_base/_breakpoint';

///////////////////////////// 布局
.doc__content {
    height: 100%;
    overflow: hidden;
    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}
.doc__mdbody {
    height: auto;
    overflow: visible;
    margin:0px; padding:0px;
    body {
        height: auto;
        overflow: visible;
        padding: 0 $padding;
    }
    
}


/////////////////////////////// markdown
.doc__markdown {
    //介绍文字
    > h1 {
        margin: rem(8) 0 rem(24);
        line-height: rem(40);
        font-size: rem(25);
        color: $color-d;
    }
    > h2 {
        margin: rem(24) 0 rem(14);
        line-height: rem(40);
        font-size: rem(22);
        color: $color-d;
    }
    > h3 {
        margin: rem(20) 0 rem(10);
        line-height: rem(32);
        font-size: rem(18);
        color: $color-d;
    }
    > p {
        margin: rem(14) 0;
        line-height: rem(25);
        font-size: rem(14);
        color: $color;
    }
    
    // 预览演示
    .doc__mdbox {
        margin-bottom: rem(50);
        border: 1px solid $border;
        margin-top: rem(10);
        border-radius: $radius;
        > .ui-grid__row {
            // overflow: hidden;
        }
        > .ui-grid__row > div {
            &:first-child {
                padding: rem(20);
            }
            @include breakpoint($screen-s) {
                &.ui-grid__col-s-24:last-child {
                    position: relative;
                    border-top: 1px dashed $border;
                }
            }
            @include breakpoint($screen-m) {
                &.ui-grid__col-m-12:last-child {
                    // padding-bottom: rem(9999);
                    // margin-bottom: rem(-9999);
                    border-left: 1px dashed $border;
                    border-top: none;
                }
            }
            // > textarea {
            //     width: 100%;
            //     height: 200px;
            //     resize: none;
            //     padding: rem(20);
            // }
        }

        &-title {
            position: relative;
            padding: rem(20);
            border-bottom: 1px dashed $border;
            > h2 {
                position: absolute;
                left: rem(10);
                top: rem(-10);
                padding: 0 rem(10);
                line-height: rem(20);
                font-size: rem(16);
                color: $fz;
                background-color: #fff;
            }
            > p {
                line-height: rem(25);
                font-size: rem(14);
                color: $color;
            }
            code {
                display: inline-block;
                height: rem(23);
                line-height: rem(20);
                padding: 0 rem(4);
                margin: 0 rem(4);
                border: 1px solid $border;
                border-radius: $radius;
                background-color: $bg-l;
            }
            pre code {
                display: block;
                height: auto;
                margin: rem(10) 0;
            }
        }
        //code
        .hljs {
            background-color: $bg-l;
        }
    }
    //查看／复制代码
    .doc__codebox {
        position: relative;
        pre {
            display: none;
            opacity: 0;
            transform: translateY(rem(-20));
            @include transition(all);
        }
        &--active {
            pre {
                display: block;
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
    .doc__codetrl {
        position: absolute;
        top: 0;
        right: 0;
        @extend %cf;
    }
    .doc__showcode,
    .doc__copycode {
        float: left;
        height: 20px;
        line-height: 20px;
        padding: 0 10px;
        margin-right: 10px;
        background-color: $main-lr;
        color: $color;
        font-size: $fz-s;
        &:hover {
            color: $main;
        }
        &:active {
            background-color: $main;
            color: #fff;
        }
    }

    //API
    > table {
        min-width: 50%;
        max-width: 100%;
        margin: rem(8) 0 rem(16);
        border: 1px solid $border;
        font-size: rem(12);
        th {
            border: 1px solid $border;
            background-color: $bg-l;
            padding: rem(8) rem(16);
            text-align: left;
            color: $color;
        }
        td {
            border: 1px solid $border;
            background-color: #fff;
            padding: rem(8) rem(16);
            text-align: left;
            color: $color-l;
            &:first-child {
                color: $color;
                background-color: #fafafa;
            }
        }
    }
    
}


////////////////// 组件——布局
.doc__markdown .ui-layout {
    background-color: #eee;
    color: #000;
    text-align: center;
    height: 192px;
    .ui-layout__header {
        background: #999;
        line-height: 64px;
    }
    .ui-layout__body {
        // padding: rem(10) 0;
        background: #aaa;
        line-height: rem(64);
        // overflow: hidden;
    }
    .ui-layout__footer {
        background: #ccc;
        line-height: rem(64);
        
    }
    .ui-layout__wrapper {
        width: 70%;
        border: 1px solid #999;
        // margin-top: rem(10);
        // margin-bottom: rem(10);
    }
    .ui-layout__sider {
        line-height: rem(64);
        background-color: rgba(255,255,255,.5);
    }
    .ui-layout__floatbar {
        background: #000;
    }
    &.ui-layout__fix--top .ui-layout__wrapper {
        height: 100px;
    }
    &.ui-layout__fix--bottom .ui-layout__wrapper {
        height: 100px;
    }
    .ui-layout__sider {
        .demo {
            height: 300px;
        }
    }
}

////////////////// 组件——栅格
.doc__grid .ui-grid__row {
    background-color: #f5f5f5;
    padding-top: rem(10);
    &:first-child {
        padding-top: 0;
    }
    [class^="ui-grid__col-"] .demo {
        min-height: rem(30);
        line-height: rem(28);
        color: $color;
        border: 1px solid $border;
        background-color: $bg;
        text-align: center;
    }
}
//grid
// .ui-grid__row {
//     background-color: #f5f5f5;
//     padding-bottom: 10px;
    
// }


////////////////// 组件——按钮
.doc__markdown > .ui-button {
    margin: 0 10px 10px 0;
}

////////////////// 组件——图标
.doc__icon {
    @extend %cf;
    > li {
        float: left;
        width: 16.6666666666666%;
        min-width: rem(130);
        padding: 0 rem(10);
        margin-bottom: rem(10);
        text-align: center;
    }
    .doc__icon__item {
        position: relative;
        display: block;
        padding: rem(10);
        border-radius: rem(10);
        cursor: pointer;
        overflow: hidden;
        &:hover {
            background: $bg-l;
        }
        &:active {
            background: $bg;
        }
    }
    .ui-icon {
        font-size: rem(30);
        color: $color-d;
    }
    .doc__icon__name {
        line-height: rem(20);
        padding-top: rem(10);
        font-size: rem(16);
        color: $color;
        @extend %tof;
    }
    .doc__clipboard {
        &:after {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background-color: rgba($main,.8);
            z-index: 1;
            font-size: rem(16);
            color: #fff;
            line-height: rem(83);
            content: "复制成功";
        }
    }
}

////////////////// 组件——图标 
.doc__markdown .ui-tabs__content {
    font-size: rem(14);
    color: #999;
}


////////////////// 组件——输入框
.doc__markdown .ui-input__searchbtn {
    margin: 0;
}

////////////////// 组件——分页
.doc__markdown .ui-input__searchbtn {
    margin: 0;
}

////////////////// 组件——走马灯
.doc__markdown .ui-carousel__slide {
    background: lighten($main,15%);
    font-size: 15px;
    line-height: 200px;
    text-align: center;
}
.doc__markdown .ui-grid__col-s-24 {
    height: 240px;
}