// ------------------------------------------
// conf
// ------------------------------------------

// 配置项一：是否是移动端项目，默认：支持pc端项目
$conf-mobile: 		true;
$conf-press:		'.s-pressed'; //结合hightlight插件，按钮按下时添加的类名

// 配置项二：兼容CSS3，默认：支持
$conf-css3: 		true;

// 配置项三：引入的element和component
$conf-layout: 		false; //布局
$conf-grid: 		false; //栅格
$conf-button: 		false; //按钮
$conf-icon: 	    false; //字体图标
$conf-tab:			false; //tab切换
$conf-input:		false; //输入框
$conf-radio:		false; //单选框
$conf-checkbox:		false; //多选框
$conf-crumb:		false; //面包屑
$conf-datepicker:	false; //日期选择器
$conf-modal:	    false; //弹窗
$conf-title:		false; //标题栏
$conf-dropdown:		false; //下拉菜单
$conf-select:		false; //选择器
$conf-form:			false; //表单
$conf-pop:			false; //弹窗
$conf-link:			false; //链接
$conf-toast:		false; //toast
$conf-para:			false; //段落
$conf-header:		false; //头部
$conf-footer:		false; //底部
$conf-placeholder:	false; //占位图
$conf-nav:			false; //导航
$conf-list:			false; //列表
$conf-page:			false; //分页
$conf-search:		false; //搜索
$conf-star:			false; //星级评分
$conf-backtop:		false; //返回顶部
$conf-carousel:		false; //走马灯
$conf-largeview:	false; //查看大图

// 配置项四：是否需要引入animation.css，默认：不引入
$conf-animation: 	false; 

// 配置项五：引用图片相对于style.scss的相对路径
$conf-imgurl:		'../images/';
$conf-comimgurl:    '../../../_common/_images/'; //公用图片

// 配置项六：是否使用rem单位，默认：不引入
$conf-rem:			false;
$conf-remsize:		100;

// 配置项七：组件相对于style.scss的相对路径
$conf-element:      '_elements/';
$conf-component:    '_components/';

// 配置八：element、component的namespace名
$conf-nsp-ele:      'ui-';

// 配置项九：皮肤名称
$conf-theme:       '_default'
