// ------------------------------------------
// carousel
// ------------------------------------------

//定义carousel相关变量
$carousel-cls:				#{$conf-nsp-ele}carousel; //通用类名

@mixin import-ui-carousel {

//--------------------- 定义 ---------------------//
// 整体
$carousel-height:           unit(373); //高度
$carousel-vertical-height:  100%;

// 导航点
$carousel-nav-bottom:       unit(20); //距离底部距离
$carousel-nav-center:       false; //是否居中
$carousel-nav-left:         -1; //左对齐，默认-1表示不是左对齐，设置值表示左对齐，且距离左侧边距
$carousel-nav-right:        unit(100); //右对齐，同上
$carousel-nav-w:            unit(10); //宽
$carousel-nav-h:            unit(10); //高
$carousel-nav-margin:       unit(4); //间距
$carousel-nav-bg:           #fff; //背景色
$carousel-nav-opacity:        0.7; //透明度
$carousel-nav-radius:        50%; //圆角
$carousel-nav-active-bg:        $main; //激活态背景色
$carousel-nav-active-opacity:         1; //激活态透明度

// 左右切换
$carousel-turn-w:        unit(40); //宽度
$carousel-turn-h:        unit(40); //高度
$carousel-turn-color:    #fff; //颜色
$carousel-turn-margin:    unit(20); //边距

/////////////// 垂直布局下
$carousel-vertical-nav-right:      unit(10);  //导航点默认在右侧，距离右边距离


//--------------------- 通用样式（固定样式） ---------------------//
.#{$carousel-cls} {
    position: relative;

	//列表
    &__listwrap {
        position: relative;
        overflow: hidden;
        height: $carousel-height;
        
    }
    &__list {
        @if $conf-css3 {}
        @else {
            position: absolute;
            top: 0;
        }
        width: 100%;
        height: 100%;
        white-space: nowrap;
        font-size: 0;
        transition: transition(transform);
    }
    &__slide {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        
        @if $conf-css3 {
            background-size: cover;
        }
    }

    //切换导航点
    &__dots {
        position: absolute;
        @if $carousel-nav-center {
            left: 0;
            right: 0;
            text-align: center;
        }
        @if $carousel-nav-right != -1 {
            right: $carousel-nav-right;
        }
        @if $carousel-nav-left != -1 {
            left: $carousel-nav-left;
        }
        bottom: $carousel-nav-bottom;
        text-align: center;
        > li {
            display: inline-block;
            vertical-align: middle;
            width: $carousel-nav-w;
            height: $carousel-nav-h;
            margin: 0 $carousel-nav-margin;
            background: $carousel-nav-bg;
            opacity: $carousel-nav-opacity;
            cursor: pointer;
            transition: transition(all);
            border-radius: $carousel-nav-radius;
            &:hover {
                opacity: 1;  ////////////
            }
            &.is-active {
                background-color: $carousel-nav-active-bg;
                opacity: $carousel-nav-active-opacity;
            }
        }
    }

    //左右切换
    &__turn {
        position: absolute;
        top: 50%;
        width: $carousel-turn-w;
        height: $carousel-turn-h;
        margin-top: $carousel-turn-h / -2;
        @extend %iconfont;
        font-size: $carousel-turn-h;
        color: $carousel-turn-color;
        cursor: pointer;
        transition: transition(opacity);
        &:hover {
            opacity: .8;
        }
        &:active {
            opacity: .6;
        }
    }
    &__prev {
        @extend %#{$icon-cls}-font--left;
        left: $carousel-turn-margin;
    }
    &__next {
        @extend %#{$icon-cls}-font--right;
        right: $carousel-turn-margin;
    }


    //--------------------- 垂直轮播 ---------------------//
    &--vertical {
        height: $carousel-vertical-height;
    }
    &--vertical &__listwrap {
        height: 100%;
    }
    &--vertical &__list {
        white-space: normal;
    }
    &--vertical &__slide {
        display: block;
    }

    &--vertical &__dots {
        bottom: auto;
        right: $carousel-vertical-nav-right;
        left: auto;
        @if $conf-css3 {
            top: 50%;
            transform: translateY(-50%);
        } 
        @else {
            top: 30%;
        }
        > li {
            display: block;
            width: $carousel-nav-w;
            height: $carousel-nav-h;
            margin-bottom: $carousel-nav-margin;
            &.is-active {
                background: $carousel-nav-active-bg;
                opacity: $carousel-nav-active-opacity;
            }
        }
    }
    &--vertical &__turn {
        display: none;
    }

    //--------------------- 使用swiper插件 ---------------------//
    &--swiper {
        .swiper-container {
            height: $carousel-height;
        }
        //导航点
        .swiper-container-horizontal .swiper-pagination-bullets {
            bottom: $carousel-nav-bottom;
            @if $carousel-nav-center {
                left: 0;
                right: 0;
                text-align: center;
            }
            @if $carousel-nav-right != -1 {
                width: auto;
                left: auto;
                right: $carousel-nav-right;
            }
            @if $carousel-nav-left != -1 {
                width: auto;
                right: auto;
                left: $carousel-nav-left;
            }
        }
        .swiper-container-horizontal .swiper-pagination-bullets .swiper-pagination-bullet {
            width: $carousel-nav-w;
            height: $carousel-nav-h;
            margin: 0 $carousel-nav-margin;
            background: $carousel-nav-bg;
            opacity: $carousel-nav-opacity;
            border-radius: $carousel-nav-radius;
            &.swiper-pagination-bullet-active {
                background: $carousel-nav-active-bg;
                opacity: $carousel-nav-active-opacity;
            }
        }
        .swiper-button-prev,
        .swiper-button-next {
            width: $carousel-turn-w;
            height: $carousel-turn-h;
            margin-top: $carousel-turn-w / -2;
            color: $carousel-turn-color;
        }
        .swiper-button-prev {
            left: $carousel-turn-margin;
        }
        .swiper-button-next {
            right: $carousel-turn-margin;
        }
        .swiper-slide {
            background-repeat: no-repeat;
            background-position: center center;
            @if $conf-css3 {
                background-size: cover;
            }
        }

        /////////////////// 垂直布局下
        .swiper-container-vertical {
            //导航点
            .swiper-pagination {
                right: $carousel-vertical-nav-right;
                bottom: auto;
                @if $conf-css3 {}
                @else {
                    top: 30%;
                }
            }
            > .swiper-pagination-bullets .swiper-pagination-bullet {
                width: $carousel-nav-w;
                height: $carousel-nav-h;
                margin: $carousel-nav-margin 0;
                background: $carousel-nav-bg;
                opacity: $carousel-nav-opacity;
                border-radius: $carousel-nav-radius;
            }
            .swiper-button-prev,
            .swiper-button-next {
                width: $carousel-turn-w;
                height: $carousel-turn-h;
                margin-left: $carousel-turn-w / -2;
                color: $carousel-turn-color;
            }
            .swiper-button-prev {
                top: $carousel-turn-margin;
                left: 50%;
                margin-top: 0;
            }
            .swiper-button-next {
                bottom: $carousel-turn-margin;
                left: 50%;
                right: auto;
                top: auto;
                margin-top: 0;
            }
        }
    }
}

}