// ------------------------------------------
// conf
// ------------------------------------------

// 初始化引入的component
$conf-layout: 		      true; //布局
$conf-grid: 		      true; //栅格系统
$conf-button: 		      true; //按钮
$conf-icon: 		        true; //图标
$conf-input: 		        true; //输入框
$conf-radio: 		        true; //单选
$conf-checkbox: 	      true; //多选
$conf-nav: 	            true; //导航
$conf-tab:              true; //tab标签切换
$conf-dropdown: 	      true; //下拉列表
$conf-select: 	        true; //选择器
$conf-crumb: 	          true; //面包屑
$conf-backtop: 	        true; //返回顶部
$conf-page: 	          true; //分页
$conf-datepicker: 	    true; //日期选择器
$conf-carousel: 	      true; //走马灯
$conf-modal: 		        true; //弹窗
$conf-header: 		        true; //头部
$conf-avatar: 		        true; //头像
$conf-form: 		        true; //表单
$conf-table: 		        true; //表格
$conf-tree: 		        true; //树结构