// ------------------------------------------
// checkbox
// ------------------------------------------


@mixin import-ui-checkbox {

//--------------------- 定义 ---------------------//

//定义checkbox相关变量
$checkbox-cls:				#{$conf-nsp-ele}checkbox; //通用类名
$checkbox-size:				rem(16);

//--------------------- 通用样式（固定样式） ---------------------//
.#{$checkbox-cls} {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	font-size: $fz;
	color: $color;
	line-height: $checkbox-size;
	cursor: pointer;

	&__btn {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: $checkbox-size;
		height: $checkbox-size;
		border: 1px solid $border;
		@include transition(all);
		&:before {
			position: absolute;
			left: 50%;
			top: 50%;
			width: $checkbox-size / 2;
			height: $checkbox-size / 2;
			margin-top: -($checkbox-size / 4);
			margin-left: -($checkbox-size / 4);
			color: #fff;
			// background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAAElBMVEUAAAD///////////////////8+Uq06AAAABnRSTlMAYDCQUICtr+75AAAAJElEQVQI12NAByIgglGAwYmBQZCBgVmBUQDINxIEibIKoCoFAB23AQWgZl9/AAAAAElFTkSuQmCC');
			// background-repeat: no-repeat;
			// background-size: 100% 100%;
			content: "\e8c5";
			transform: scale(0);
			opacity: 0;
			@include transition(all);
		}
	}
	&__input {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		opacity: 0;
		z-index: 1;
	}
	//文字
	&__text {
		display: inline-block;
		vertical-align: middle;
	}

	//选中态
	&--active &__btn {
		background-color: $main;
		border-color: $main;
		&:before {
			opacity: 1;
			transform: scale(1);
		}
	}

	//不可点击态
	&--disabled  {
		cursor: default;
		pointer-events: none;
		color: $disabled-color;
	}
	&--disabled &__btn {
		background-color: $disabled-bg;
		border-color: $disabled-border;
		&:before {
			color: $disabled-border;
		}
	}
	
}

}