@charset "UTF-8";

/*!
 * Ceci.css —— a beautiful css framework
 * Repository - https://github.com/cecipeng/ceci.css
 * Website - 
 * Author - CeciPeng <1047328479@qq.com>
 * Version - v1.0.0
 */


//--------------------- base ---------------------//

// reset
@import "_base/_reset.scss";	// default

@function cm($unit){
	@return $unit * 1.2 * 1cm;
}

//--------------------- page ---------------------//
@media print {
	body { color: #000; background: #fff; } //为达到颜色清晰明了
	img {
		max-width: 100% !important;//防止图片过宽而超出纸张边缘
	}
	@page {
		margin: 2cm; //内容距离纸张边缘
	}
	ul, img {
		page-break-inside: avoid; //列表和图片不被分开在不同的页
	}
	article {
		page-break-before: always; //确保 articles 文章标签的内容，在新的一页开始
	}
	h2, h3 { page-break-after: avoid; }
}

.formwrap {
	position: relative;
	width:cm(21);
	padding-top: cm(.9);
	margin: 0 auto;
	font-family: 'FangSong';
	font-weight: bold;
	// padding: cm(2.1);
	// background-color: #f5f5f5;
	.form-head {
		margin-bottom: cm(0.5);
		line-height: 1.5;
		font-size: cm(1);
		text-align: center;
	}
	.com-strong {
		font-weight: bold;
	}
	.form-subtitle {
		clear: fix;
		li {
			float: left;
			width: 50%;
			&:first-child {
				padding-right: cm(0.5);
			}
		}
	}
	.form-title {
		float: left;
		line-height: 2;
		font-size: cm(0.55*1.4);
	}
	.form-content {
		display: block;
		line-height: 2;
		font-size: cm(0.55*1.4);
		text-indent: cm(.83);
		overflow: hidden;
		font-family: 'FangSong';
		font-weight: normal;
	}
	.form-opinion {
		padding-top: cm(.8);
		padding-right: cm(1.1);
		text-align: right;
		font-family: 'FangSong';
		font-weight: normal;
		line-height: 2;
		font-size: cm(0.55*1.4);
		
	}
	.form-opinion-inner {
		display: inline-block;
		text-align: center;
	}
	.form-content-center {
		text-indent: 0;
		text-align: center;
	}
	.form-opinion-text {
		
	}
	.form-table {
		margin-top: cm(0.25);
		border: 1px solid #000;
	}
	.form-row {
		position: relative;
		
		border-top: 1px solid #000;
		&:first-child {
			border-top: none;
		}
		clear: fix;
		li {
			float: left;
			width: 50%;
			padding: cm(0.15) cm(0.25);
			border-left: 1px solid #000;
			&:first-child {
				border-left: none;
			}
		}
	}
	.form-row-fixtitle {
		position: relative;
		min-height: cm(5.42);
		padding: cm(0.15) cm(0.25);
		padding-top: cm(0.9);
		.form-title {
			position: absolute;
			left: cm(0.25);
			top: cm(0.15);
		}
		.form-content {

		}
	}
	.form-content-only {
		padding: cm(0.15) cm(0.25);
		.time {
			margin: 0 cm(0.2);
		}
	}
	.form-tag {
		position: absolute;
		left: 0;
		top: 0;
		border: 1px solid #000;
		padding: 0 cm(.1);
		line-height: cm(.8);
		font-size: cm(.6);
	}
}

//--------------------- page ---------------------//
.filewrap {
	position: relative;
	width: cm(21);
	height: 100%;
	margin: 0 auto;
	font-size: cm(.5);
	line-height: 2;
	.file-header {
		text-align: center;
		line-height: 1.5;
	}
	.file-title {
		font-size: cm(1);
		font-weight: bold;
	}
	.file-subline {
	}
	.file-container {
		padding-top: cm(1.5);
		
	}
	.file-content {
		text-indent: cm(1);
	}
	.file-footer {
		padding-top: cm(1.5);
		text-align: right;
	}
	.file-footerbox {
		display: inline-block;
		text-align: center;
	}
	.file-fix {
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		font-weight: 700;
	}
}